* {
  box-sizing: border-box;
}

/* body padding */
body {
  padding: 30px;
  background: lightgrey
  /* background-image: url('../img/bg_rising_sun.jpg');
  background-repeat: no-repeat;
  background-position: auto; */
}

/* container styling */
.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: green;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: lightcoral;
}

img {
  width: 150px;
}
/* column decor */
.column {
  float: left;
  width: 25%;
}

/* paragraph decor */
p {
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
}


p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;

}

/* row and column decor */
.row {
  margin: 5px;
  padding: 15px;
}

.column {
  padding: 10px;
}

.row > .column {
  padding: 5px;
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* content decor */
.content {
  background-color: lightcyan;
  padding: 10px;
  border: 1px solid gray;
}


