body {
  background-image: url(img/denim2.png);
  max-width: 1000px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 35px;
  margin-top: -35px;
}

/* Top section */
header {
  box-shadow: 5px 5px 8px 5px #888888;
}

header {
  background-color: #203647;
  color: #ffffff;
  box-shadow: 5px 5px 8px 5px #888888;
}

.self-image {
  float: left;
  margin: -35px;
  width: 110px;
  height: auto;
  padding: 5px 10px 5px 5px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

/* Main content */
main {
  background-color: #c9af98;
  padding: 1em;
  box-shadow: 5px 5px 8px 5px #888888;
}

h2 {
  font-size: medium;
  color: #203647;
}

h3 {
  padding-top: 0em;
}

li {
  list-style-position: inside;
  float: inline-start;
}

.about {
  padding: 25px;
}

/* Navigation menu */
nav {
  background-color: hsl(180, 80%, 25%);
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Bottom section*/
footer {
  position: relative;
  bottom: 0;
  font-size: xx-small;
  color: rgb(92, 74, 74);
  padding: 0.2.5em;
  text-align: center;
}

/* Buttons animation */
button {
  background-color: #3b423c;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_slide {
  color: #fff;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #203647;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #203647;
  transform: scale(1.035);
}

.box_bg {
  background-color: #c5c6c7;
  padding: 35px;
  margin: 10px;
  box-shadow: 5px 5px 8px 5px #888888;
}

.hov:hover {
  transform: scale(1.005);
}

/* .hov:hover
    {
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    } */