* {
  box-sizing: border-box;
}

/* body decor */
body {
  margin-top: -50px;
  padding: 30px;
  background: lightgrey
}

/* container styling */
.container {
  max-width: 1200px;
}

h1 {
  color: green;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: lightcoral;
}

/* column decor */
.column {
  float: left;
  width: 25%;
}

/* paragraph decor */
p {
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
}


p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* row and column decor */
.row {
  display: inherit;
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
}

/* .column {
  padding: 10px;
} */

.row > .column {
  padding: 5px;
}

/* content decor */
.content {
  display: grid;
  background-color: lightcyan;
  padding: 10px;
  border: 1px solid gray;
}

/* navigation */
.nav {
  top: 0;
  width: inherit;
}

ul {
  list-style-type: none;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

#killflow li {
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: rgb(212, 178, 178);
  color: rgb(31, 26, 26);
  padding-top: 5px;
  font-size: xx-small;
  text-align: center;
}

